---
import AuthLayout from "../layouts/AuthLayout.astro";
import ForgetPassword from "../components/ForgetPassword.svelte";
---

<AuthLayout title="Forget Password - Pocketbase Astro Starter Kit">
  <h1>Forget Password</h1>
  <ForgetPassword client:load />
</AuthLayout>
