---
import HomeLayout from "../layouts/HomeLayout.astro";
---

<HomeLayout title="Pocketbase Astro Starter Kit">
  <main>
    <h1>Pocketbase Astro Starter Kit</h1>
    <h3>Feature:</h3>
    <ul>
      <li>Authorization</li>
      <li>Forget Password</li>
      <li>Reset Password</li>
      <li>Profile</li>
    </ul>
  </main>
</HomeLayout>
