---
import AuthLayout from "../layouts/AuthLayout.astro";
import Login from "../components/Login.svelte";
---

<AuthLayout title="Login - Pocketbase Astro Starter Kit">
  <h1>Login</h1>
  <Login client:load />
</AuthLayout>
