---
import AuthLayout from "../layouts/AuthLayout.astro";
import Register from "../components/Register.svelte";
---

<AuthLayout title="Register - Pocketbase Astro Starter Kit">
  <h1>Register</h1>
  <Register client:load />
</AuthLayout>
